<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.db.sys.mapper.SysMenuMapper">

	<!-- 基于菜单id查询权限信息 -->
	<!-- List<String> listPermissions(
	    @Param("menuIds")Integer[] menuIds) -->
	<select id="listPermissions" resultType="java.lang.String">
	    select 
	        permission
	    from 
	        sys_menus 
	    where 
	        id 
	    in 
	    <foreach collection="menuIds"
	        open="(" close=")" 
	        separator="," item="menuId">
	        #{menuId}
	    </foreach>
	</select>

	<!-- 基于菜单id查询对应记录的条数 -->
	<!-- Integer getMenuCount(@Param("menuIds")Integer[] menuIds) -->
	<select id="getMenuCount" resultType="java.lang.Integer">
		select 
			count(*) 
		from 
			sys_menus 
		where
			id in 
			<foreach collection="menuIds" 
				open="(" close=")" 
				separator="," item="menuId">
				#{menuId}
			</foreach>
		for update
	</select>

	<!-- 基于id查询菜单记录及父菜单名称 -->
	<!-- SysMenuDO getSysMenuById(Integer id) -->
	<select id="getSysMenuById" resultType="cn.tedu.db.sys.pojo.SysMenuDO">
		select 
			t1.*, t2.name as parentName
		from 
			sys_menus t1 left join sys_menus t2 
		on 
			t1.parentId=t2.id 
		where 
			t1.id=#{id}
	</select>
	
	<!-- 基于id更新菜单记录 -->
	<!-- Integer updateSysMenu(SysMenuDO sysMenuDO) -->
	<update id="updateSysMenu">
		update 
			sys_menus 
		set 
			name=#{name}, url=#{url},
			type=#{type}, sort=#{sort},
			note=#{note}, parentId=#{parentId}, 
			permission=#{permission}, modifiedTime=now(), 
			modifiedUser=#{modifiedUser}
		where 
			id=#{id}
	</update>

	<!-- 查询所有菜单的id,name和parentId -->
	<!-- List<MenuNodeVO> listMenuNode() -->
	<select id="listMenuNode" resultType="cn.tedu.db.sys.pojo.MenuNodeVO">
		select 
			id, name, parentId 
		from 
			sys_menus
	</select>
	
	<!-- 基于菜单id查询菜单记录 -->
	<!-- SysMenuDO getSysMenu(Integer id) -->
	<select id="getSysMenu" resultType="cn.tedu.db.sys.pojo.SysMenuDO">
		select 
			*
		from 
			sys_menus 
		where 
			id=#{id} 
		for update
	</select>
	
	<!-- 添加菜单记录 -->
	<!-- Integer insertSysMenu(SysMenuDO sysMenuDO) -->
	<insert id="insertSysMenu">
		insert into sys_menus(
			name, url, type, 
			sort, note, parentId,
			permission, createdTime, modifiedTime,
			createdUser, modifiedUser
		)values(
			#{name}, #{url}, #{type}, 
			#{sort}, #{note}, #{parentId},
			#{permission}, now(), now(),
			#{createdUser}, #{modifiedUser}
		)
	</insert>


	<!-- 基于菜单id查询子菜单数量 -->
	<!-- Integer getSubMenuCount(Integer parentId) -->
	<select id="getSubMenuCount" resultType="java.lang.Integer">
		select 
			count(*) 
		from 
			sys_menus 
		where 
			parentId=#{parentId} 
		for update
	</select>
	
	<!-- 基于菜单id删除菜单记录 -->
	<!-- Integer deleteSysMenu(Integer id) -->
	<delete id="deleteSysMenu">
		delete from 
			sys_menus 
		where 
			id=#{id}
	</delete>
	
	<!-- 基于菜单id查询角色菜单表中关联记录的条数 -->
	<!-- Integer getRoleMenuCount(Integer menuId) -->
	<select id="getRoleMenuCount" resultType="java.lang.Integer">
		select 
			count(*) 
		from 
			sys_role_menus 
		where 
			menu_id=#{menuId}
	</select>
	
	<!-- 基于菜单id删除角色菜单表中的关联记录 -->
	<!-- Integer deleteRoleMenu(Integer menuId) -->
	<delete id="deleteRoleMenu">
		delete from 
			sys_role_menus 
		where 
			menu_id=#{menuId}
	</delete>

	<!-- 查询所有菜单记录及父菜单名称 -->
	<!-- List<SysMenuDO> listSysMenu() -->
	<select id="listSysMenu" resultType="cn.tedu.db.sys.pojo.SysMenuDO">
		select 
			t1.*, t2.name as parentName
		from 
			sys_menus t1 left join sys_menus t2
		on 
			t1.parentId=t2.id
	</select>
	
</mapper>