<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="cn.tedu.store.mapper.CartMapper">
	<!--添加商品 -->
	<!--Integer insert(Cart cart); -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="cid">
		insert
		into t_cart (
		uid,pid,num,price,
		created_user,created_time,modified_user,modified_time
		) values (
		#{uid},#{pid},#{num},#{price},
		#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
		);
	</insert>


	<!--删除某用户的若干个购物车数据 -->
	<!-- Integer deleteBycids(@Param("cids") Integer[] cids, @Param("uid") Integer 
		uid); -->
	<delete id="deleteBycids">
		delete from t_cart where uid=#{uid} and cid in
		<foreach collection="cids" item="cid" separator="," open="("
			close=")">
			#{cid}
		</foreach>
	</delete>

	<!--修改商品数量 -->
	<!--Integer updateNumByCid(@Param("cid") Integer cid, @Param("num") Integer 
		num, @Param("modifiedUser") String modifiedUser, @Param("modifiedTime") Date 
		modifiedTime); -->
	<update id="updateNumByCid">
		update t_cart set num=#{num},
		modified_user=#{modifiedUser}, modified_time=#{modifiedTime} where
		cid=#{cid};
	</update>


	<!--根据归属用户的id和商品的id查找相应的商品信息 -->
	<!--Cart findByUidAndPid(@Param("uid") Integer uid, @Param("pid") Integer 
		pid); -->
	<select id="findByUidAndPid"
		resultType="cn.tedu.store.entity.Cart">
		select * from t_cart where uid=#{uid} and pid=#{pid};
	</select>

	<!--通过用户id查找购物车信息 -->
	<!--List<CartVO> findByUid(Integer uid); -->
	<select id="findByUid" resultType="cn.tedu.store.vo.CartVO">
		select
		cid, uid, pid,
		t_cart.num, t_cart.price,
		title, t_product.price AS realPrice, image
		from
		t_cart
		left join
		t_product
		on
		t_cart.pid=t_product.id
		where
		uid=#{uid}
		order by
		t_cart.created_time desc
	</select>

	<!--根据购物车数据的id查询购物车详情 -->
	<!--Cart findByCid(Integer cid); -->
	<select id="findByCid" resultType="cn.tedu.store.entity.Cart">
		select * from t_cart where
		cid=#{cid}
	</select>

	<!-- 查询若干个数据id匹配的购物车列表 -->
	<!--List<CartVO> findByCids(Integer[] cids); -->
	<select id="findByCids" resultType="cn.tedu.store.vo.CartVO">
		SELECT
		cid, uid, pid, t_cart.num, t_cart.price,
		title, t_product.price
		AS realPrice, image
		FROM
		t_cart
		LEFT JOIN
		t_product
		ON
		t_cart.pid=t_product.id
		WHERE
		cid IN
		<foreach collection="array" item="cid" separator="," open="("
			close=")">
			#{cid}
		</foreach>
		ORDER BY
		t_cart.created_time DESC
	</select>

</mapper>

